* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

header {
    max-width: 1440px;
    height: 100px;
    background: linear-gradient(180deg, red, rgb(255, 94, 0));
    display: flex;
    align-items: center;
}

h1 {
    color: white;
    font-size: 40px;
    padding: 20px;
    text-shadow: 3px 3px 3px black;
}

header>form {
    display: flex;
    align-items: center;
}

.boxsearch {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
}

.boxicon {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.giohang {
    display: flex;
    justify-content: center;
    align-items: center;
}

header>p {
    padding: 15px;
}

main {
    /* width: 1440px; */
    /* height: 600px; */
    background-color: rgb(235, 235, 235);
    padding-top: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.danhmucsp {
    width: 190px;
    height: 350px;
    background-color: white;
    margin: 10px;
}

.menu {
    width: 190px;
    height: 50px;
    background-color: white;
    padding: 0;
    border-bottom: 2px solid rgb(235, 235, 235);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.menu>img {
    width: 30px;
    height: 30px;
}

.menu>h5 {
    padding: 0;
}

.listsanpham {
    width: 190px;
    height: 300px;
    padding-top: 20px;
    background-color: white;
}

.listsanpham>ul>li {
    padding: 10px 0px;
    font-size: 15px;
    padding-left: 5px;
    list-style: none;
}

.sanpham {
    width: 190px;
    height: 500px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.imglink {
    padding: 10px;
}

.imglink>a>p {
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

.imglink>a>img {
    width: 190px;
    height: 280px;
}


.diachi {
    width: 190px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.gia {
    font-size: 18px;
    padding: 10px;
    color: rgb(255, 64, 64);
}

.soluong {
    width: 190px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.soluong>i {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

footer {
    /* width: 1440px; */
    /* height: 200px; */
    background-color: rgb(235, 235, 235);
    position: relative;
    border-top: 5px solid rgb(255, 64, 64);
    border-bottom: 5px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-left: 100px;
}

footer>div>h3 {
    font-size: 24px;
    padding: 20px 0;
}

footer>div>p {
    font-size: 18px;
    color: gray;
    line-height: 25px;
}

@media only screen and (max-width:480px) {
    main {
        flex-wrap: wrap;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 30px;
        padding: 35px;
        text-shadow: 2px 2px 2px black;
    }

    header>form {
        padding: 20px;
    }

    .giohang {
        position: absolute;
        transform: scale(0.5);
        padding: 0;
    }

    .dangnhap {
        position: absolute;
        transform: scale(0.5);
        padding: 0;
    }
    .dangky{
        position: absolute;
    }
}